<div class="is-one-quarter">
  <div class="card">
    <div class="card-imagen">
      <figure class="image is-4by3">
        <img src="../assets/products/{{producto.imagen}}" />
      </figure>
    </div>
    <div class="card-content">
      <strong>{{producto.titulo}}</strong>
      <br/>
      <p>{{producto.texto}}</p>
      <button class="button is-fullwidth is-small"
      (click)="seleccionarItem()"
      [disabled]="isItemDisabled()"
      [ngClass]="{'is-danger': !isItemDisabled()}">
        {{accionCompra}}
      </button>
    </div>
  </div>
</div>
