<div class="container">
  <!---- Seccion de productos (componentes stateless)-->
  <section class="section">
    <h1 class="title">PRODUCTS</h1>
    <div class="columns">
      <div class="column" *ngFor="let item of modeloTienda.tiendaItems">
        <!-----  ------>
        <app-sin-estado
        [producto]="item"
        (productoSeleccionado)="onproductoSeleccionado($event)">
        </app-sin-estado>
        <!-----  ------>
      </div>
    </div>
  </section>

  <section>
  <div *ngIf="itemsComprados.length > 0">
    <div class="columns">
      <nav class="panel is-three-quarter column">
        <p class="panel-heading">
          Detalle de Compra
        </p>

        <div class="panel-block" *ngFor="let item of itemsComprados">
          {{ item.titulo }}
          <span class="item-price">
            {{ item.precio | currency }}
          </span>
        </div>
      </nav>
    </div>

    <div class="columns">
      <div class="column is-fullwidth">
        <div class="is-pulled-right">
          <div class="is is-one-quarter ">
            <h2 class="title">Total {{ getPrecioTotal() | currency }}</h2>
          </div>
          <button class="button is-link  is-pulled-right is-danger"
          (click)="realizarPago()">
            BUY NOW
          </button>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>
<app-alerta-confirmacion></app-alerta-confirmacion>
